@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Quintessential&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    color: whitesmoke;
    font-style: Poppins;
}



.container{
   background-color: black;
    text-align: center;
    




}
.heading{
    
    padding: 50px;
    color: black;
    background-color: orange;


}

.todo-items{
    display:flex;
    align-items: center;
    justify-content: center;

    padding: 30px;

}
.alltasks{

    padding: 30px;
    display: flex;
    flex-direction: column;

    

}

.tasksOnGoing{
    padding: 30px;

    align-items: flex-end;
    justify-content: center;
    left: 400px;
}

.completedItems{
    padding: 30px;
    bottom: 100px;





}

input{

    padding: 14px;
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 20px;

}
input:focus {
    border: 3px solid #555;
}

.addbtn{
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 19px 36px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

label{
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.wrong{
    color: white;
    background-color: blue;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 4px 2px;



}

.right{
    color:white;
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 4px 2px;

}
.buttons{
    padding: 7px;
    

    align-items: center;


}

h2{
    padding: 15px;
    text-decoration:underline;
    letter-spacing: 2px;
}
.completedText{
    text-decoration: line-through;
}